/* for profiles.html */
/* --var(--primary-color) */
/* --var(--second-color) */
/* --var(--darkened-color) */
/* --var(--darkened-primary) */

body {
    background-color: var(--primary-color);
}

div {
    background-color: var(--second-color);
    margin: 10px;
    /* padding: 10px; */
}

.userInfoBox {
    background-color: white;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.userInfoBox p {
    margin: 0px;
}

#user-info-side {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

#user-info-USER {
    /* height: 100%; */
    display:block;
}

#user-info-USER p {
    font-size: 40px;
    font-weight: bold;
    color: var(--darkened-primary);
}

.pfp {
    border-radius: 20%;
    padding: 0px;
}

#pfp-main {
    width: 150px;
    height: 150px;
}

#profile-side {
    width: 150px;
    height: 100%;
    padding: 10px;
    margin: 0px;
    margin-bottom: 10px;

    display: grid;
}

.thyButtons {
    text-align: center;
    height: 30px;
    margin: 5px top, 5px bottom;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logOutButton {
    background-color: red;
    color: white;
}

/* #logOutButton button::after { //idk what it is but when i figure it out this'll be implemented
    background-color: rgb(220, 81, 0);
    color: rgb(255, 233, 225);
} */

#actionsDiv {
    width: 150px;
    height: 100%;
    padding: 10px;
    margin: 0px;

    display: grid;
    gap: 5px;
}

#profile_thing {
    width: 170px;
    height: 100%;
    background: none;

    margin-top: 0px;

    float: left;
}